body {
    background: url(/images/HorseheadFlame_Zauner_960.jpg)
}

#gameInfo{
    display: table;
    padding: 100px;
    margin: 100px;
    background-color: bisque;
    text-align: left;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    
}